# Normalize line endings for all text files
* text=auto eol=lf
# -----------------------------
# Git LFS - asset folder rule
# -----------------------------
assets/** filter=lfs diff=lfs merge=lfs -text
